body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('lateral.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50%;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #084b72;
    color: #fff;
    padding: 10px 20px;
}

.menu-btn {
    cursor: pointer;
    font-size: 24px;
}

h1 {
    margin: 0;
}

.menu {
    display: none;
    background-color: #2487a5;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    border: 1px solid #24a3b9;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    border-bottom: 1px solid #555;
}

.menu ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
    background-color: #40789e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}
